{% extends "data_viewer/base.html" %}
{% load static %}

{% block title %}All Projects Map{% endblock %}

{% block nav_center %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>
<link rel="stylesheet" href="{% static 'css/projects_map.css' %}">
{% endblock %}

{% block content %}
<div id="map"></div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
<script>
  var map = L.map('map').setView([53.4129, -8.2439], 7);

  L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
    maxZoom: 19,
    attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
  }).addTo(map);

  var projects = JSON.parse('{{ projects_json|escapejs }}');
  projects.forEach(function(proj) {
    var lat = proj.location.lat;
    var lon = proj.location.lon;
    var marker = L.marker([lat, lon]).addTo(map);
    marker.bindPopup(`
      <b>${proj.name}</b><br>
      <a href="/viewer/detail/${proj.project_id}/">View Contributions &raquo;</a>
    `);
  });
</script>
{% endblock %}